[2018-09-07 14:34] vvmruder opened #28 "Additional information and hints"
The empty text should be a '-'. It's just empty text in the moment.

[2018-11-14 08:29] peterschaer opened #26 "Vertical spacing too small with multiline PLRs in PDF extract"
In case of PLRs with its text running on multiple lines in the pdf extract the vertical space between the text and the lower divider line is too small. It is also smaller than the space between the text and the upper divider line.

![long_plr](https://user-images.githubusercontent.com/3659322/48467943-bc298000-e7ea-11e8-81a2-60636a9e4c1d.PNG)

in case of one line plr the spaces are ok:

![short_pl

[2018-11-14 09:19] peterschaer opened #29 "CertificationAtWeb not printed in PDF extract"
While Extract.CertificationAtWeb is present in JSON/XML it is not printed in PDF extract.

![begl_neu](https://user-images.githubusercontent.com/3659322/48472530-d1a4a700-e7f6-11e8-92be-aa53d7210779.PNG)

[2018-11-14 09:26] peterschaer opened #27 "subunit_of_land_register not printed on TOC-page in PDF extract"
subunit_of_land_register is not printed on the TOC-page in PDF extract. Right now it looks like this:

![gbkreis2_neu](https://user-images.githubusercontent.com/3659322/48472915-95257b00-e7f7-11e8-95a6-baf075f3a42c.PNG)

but it should look like this - according to the _weisung_:

![gbkreis2_alt](https://user-images.githubusercontent.com/3659322/48472948-a40c2d80-e7f7-11e8-8fb2-7ff3804c3e32.PNG)

[2018-11-21 10:09] vvmruder commented on #29
What is missing here?

[2018-11-21 10:22] peterschaer commented on #29
The hyperlink after the comma is missing:

![certlink](https://user-images.githubusercontent.com/3659322/48835094-a7fff880-ed7f-11e8-925a-410275f968fe.PNG)

[2019-03-19 12:43] svareg opened #38 "Multiline Link in non-PDF-A Extract has wrong links in Adobe Acrobat Reader"
Hello,

When you generate a PDF extract, some URL can be on many lines, because they are very long.

The problem is :

- When you click on the text (first or second line for example), the link is opened without any problem :

![grafik](https://user-images.githubusercontent.com/36037102/54605950-bff43a00-4a4a-11e9-8b65-68d4f368e996.png)
![grafik](https://user-images.githubusercontent.com/36037102/5

[2019-05-23 08:39] pfirpfel opened #1 "Add link to history"
Add link to git commit that deleted the print templates to get access to template history.

[2019-05-29 05:30] jwkaltz commented on #1
https://github.com/openoereb/pyramid_oereb/commit/352970f3504385a462797dab7de30fd00896b922

[2019-05-29 05:33] pfirpfel commented on #1
I added it to the readme already.

[2019-05-29 05:33] #1 closed, assigned to nobody

[2019-06-13 05:22] vvmruder opened #5 "Add info about pyramid_oereb/mapfish print/tomcat version"
For better usage we should add a info about the recommended version of pyramid_oereb in the readme. This would clarify things. At least it should mention the version which it was testet successfully.

In addition it would be great to know which versions of mapfish print are compatible.

Info about usable tomcat version would be intresting too.

[2019-06-13 05:40] vvmruder opened #6 "Cadastra font is missing"
Am I getting something wrong? Or is the WEB-INF/lib section missing?

[2019-06-17 11:35] #5 closed, assigned to nobody

[2019-06-17 13:53] vvmruder opened #8 "Error on proxy connection for WMS"
During my tests I try to use version 1.5.0 of pyramid_oereb and 1.5.0 of this project and get an error while creating the pdf extract. I'am using MapFishPrint 3.10.7. The error log let me suggest there is some problem with proxy configuration. Or am I wrong? The proxy connection is configured the same as before.

[code]

[2019-06-17 14:03] jwkaltz commented on #8
Can you please try with mfp 3.10.8?

[2019-06-17 14:10] vvmruder commented on #8
I did now. Same output.

I added some output in original log at beginning. I was missing this before. It was in the output of 3.10.7 and 3.10.8.

Some hints what I'am missing here?

[2019-06-17 14:16] ralphschulerSZ commented on #8
Strangely we have the same error on our PRD now: https://map.geo.sz.ch/oereb/wsgi/oereb/extract/reduced/pdf/SZ0200001367/1321

And we use pyramid_oereb version: pyramid_oereb-1.4.4.dev20190411.dist-info and presumably mfp 3.20.0. Currently Michael Künzli is investigating.

[2019-06-17 14:19] jwkaltz commented on #8
For @ralphschulerSZ 's error, we are going to test in the next few minutes this change: https://github.com/openoereb/pyramid_oereb/pull/847/files

@vvmruder are you sure you updated the templates to the last version?

[2019-06-17 14:21] vvmruder commented on #6
This can be closed. Info was provided here: https://openoereb.github.io/pyramid_oereb/doc/changes.html#mapfish-print-pdf-a-conformance

[2019-06-17 14:22] vvmruder commented on #6
This can be closed. Info was provided here: https://openoereb.github.io/pyramid_oereb/doc/changes.html#mapfish-print-pdf-a-conformance

[2019-06-17 14:22] #6 closed, assigned to nobody

[2019-06-17 14:38] vvmruder commented on #8
Yes I used files from release 1.5.0. Only occurence of "String.join" I can find in tocFull.jrxml and multiPageTOC.jrxml right here on this repo in master branch.

So I guess it's a JAVA-version issue?

[2019-06-17 14:52] jwkaltz commented on #8
Ah yes, looking at the error again, it seems this code will only work starting Java 8 (which would be needed anyway for the needed MapFish-Print version).

[2019-06-17 15:00] vvmruder commented on #8
So I need to wait until the new JAVA version is available.

[2019-06-17 15:01] #8 closed, assigned to nobody

[2019-06-25 15:25] voisardf opened #9 "Requirements documentation"
We should have the information in the documentation, what mapfish print version is required by  which pyramid_oereb version

[2019-06-25 18:02] jwkaltz commented on #9
@voisardf actually, this is already stated in the README, but admittedly the README was a bit terse, this is improved now via #10 .

[2019-06-28 07:07] svareg opened #11 "Text in template when there isn't any concerned theme"
Hello,

When there isn't any concerned theme for a real estate, we get this extract:

![grafik](https://user-images.githubusercontent.com/36037102/60323947-b9e3f280-9983-11e9-800c-fd409f8bee82.png)

Is there a way to display a right explanation text in the extract instead of this simple "Seite" word?

Thanks,
Guillaume.

[2019-06-28 08:06] #9 closed, assigned to jwkaltz

[2019-06-28 14:45] #11 closed, assigned to marionb

[2019-09-19 05:47] sitj-marc opened #17 "Issue in the "exclusion_of_liability" table when generating the PDF extract"
I filled in the columns in pyramid_oereb_main.exclusion_of_liability and generated the PDF. The link that appears is not at all correct and does not correspond to what is mentioned in "content" column.
![image](https://user-images.githubusercontent.com/3088758/65216568-a55e5480-dab1-11e9-96fb-94c5222ba6ec.png)

[2019-10-09 09:28] peterschaer opened #18 "small vertical spacing when line breaks in toc titles"
If a heading in the toc is very long and is wrapped on two lines the vertical spacing to the following horizontal line is too small. it is visibly smaller than in the case of no line break.

sample extract:
[20191009111931_extract.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/3706571/20191009111931_extract.pdf)

vertical spacing too small:
![vertical_spacing1](https://user-images.githu

[2019-10-09 10:23] peterschaer opened #19 "horizontal line missing in case of page break"
We have a special situation in one of our pdf extracts:

![port](https://user-images.githubusercontent.com/3659322/66473122-f0ef9700-ea8e-11e9-886b-127b389688fe.PNG)

the page break happens inside the "Zuständige Stelle" section. In this case the horizontal line between the "Weitere Informationen und Hinweise"-section and the "Zuständige Stelle"-section is not displayed. If you look closely you wi

[2019-10-09 10:30] peterschaer opened #20 "header missing on mulitpage glossary"
If the glossary is long enough to need more than one page the second page has no header.

example extract:

[20191009121543_extract.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/3706816/20191009121543_extract.pdf)

[2019-10-09 10:45] peterschaer opened #21 "small vertical spacing when line breaks in section label"
if a label on the plr pages is too long and is wrapped on two lines the vertical space below is too small:

![label1](https://user-images.githubusercontent.com/3659322/66474940-948e7680-ea92-11e9-8437-292bf6e19065.PNG)

if the label is only on one page the vertical space is ok:

![label2](https://user-images.githubusercontent.com/3659322/66474961-9fe1a200-ea92-11e9-9b49-943558ccdadc.PNG)

[2019-10-09 10:51] peterschaer opened #22 "no line break when Zuständige Stelle is too long"
If the name of Zuständige Stelle is very long it should be wrapped on two lines. But that is not happening:

![zust2](https://user-images.githubusercontent.com/3659322/66475252-37df8b80-ea93-11e9-8e07-d91477ea9a01.PNG)

In this example the complete name of Zuständige Stelle is:
Stadt Bern (für Auskünfte zu Bauvorhaben: Bauinspektorat der Stadt Bern).
Right now the text is cut off. no line break is

[2019-10-09 10:56] peterschaer opened #23 "link to complete legend is indented"
The link to the complete legend is indented. But according to the Weisung that should not be the case:

![legende](https://user-images.githubusercontent.com/3659322/66475538-ce13b180-ea93-11e9-96a4-e1f514d981a2.PNG)

![weisung](https://user-images.githubusercontent.com/3659322/66475711-28147700-ea94-11e9-8754-06d3080bed8b.PNG)

[2019-10-09 10:58] peterschaer opened #24 "Vertical space on toc page too big"
The vertical space between the plr heading and the "page" label in the toc is too big:

![toc1](https://user-images.githubusercontent.com/3659322/66475865-7fb2e280-ea94-11e9-9d49-b613d156b152.PNG)

[2019-10-09 11:06] peterschaer opened #25 "Vertical space above "Zuständige Stelle" is too small"
The vertical space above the "Zuständige Stelle" label is smaller than on the other labels:

![zust1](https://user-images.githubusercontent.com/3659322/66476327-9148ba00-ea95-11e9-833c-247a6aa00103.PNG)

[2019-10-09 11:17] peterschaer commented on #38
We observe a similar issue. Depending on the software you use to open the pdf we get different result

in this example extract there is a multiline link on page 5 (Rechtsvorschriften):
[20191009011003_extract.pdf](https://github.com/openoereb/pyramid_oereb/files/3707001/20191009011003_extract.pdf)

When opening the pdf in Acrobat Reader (v2017 on Win7) the link works as expected.

When opening the

[2019-10-10 09:27] svareg opened #30 "Version 1.5.0 : PDF generation is crashing if attribute "legend_at_web" is null"
Hello,

_(Note: I think this problem is perhaps more related to MapFishPrint than to pyramid_oereb, but I'm not 100% sure)_

I'm testing the version 1.5.0 of pyramid_oereb.

I'm having a problem with the PDF generation, especially for the federal datas.
The attribute "view_service.legend_at_web" ist optional. This attribute is for example not set in the XTF delivered by the confederation.

But whe

[2019-10-11 07:15] voisardf commented on #27
Fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/32

[2019-10-11 07:19] voisardf commented on #18
fixed by PR: https://github.com/openoereb/pyramid_oereb_mfp/pull/31

[2019-10-11 07:19] voisardf commented on #24
fixxed by PR: https://github.com/openoereb/pyramid_oereb_mfp/pull/31

[2019-10-14 14:48] voisardf commented on #20
example pdf :
[20191014043723_extract.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/3724956/20191014043723_extract.pdf)

[2019-10-14 15:16] voisardf commented on #29
If I call a pdf with getspec; I get  _Certification_ as text (from multilingual) but _CertificationAtWeb_ which contains the URL as multilingual array.
Furthermore, the config.yaml does not expect an attribute _CertificationAtWeb_

Conclusion:
I think we have to add CertificationAtWeb here:
https://github.com/openoereb/pyramid_oereb/blob/master/pyramid_oereb/contrib/print_proxy/mapfish_print.py#L2

[2019-10-14 15:34] voisardf commented on #29
example pdf:
[20191014053130_extract.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/3725205/20191014053130_extract.pdf)

@vvmruder @kdeininger  Could one of you two add the missing line in the pyramid_oereb mapfish_print_proxy? - I have no up to date instance on my local machine...
I'll add the necessary configuration to the pyramid_oereb_mfp project in a new PR tomorrow

[2019-10-15 09:50] voisardf commented on #29
@vvmruder @kdeininger :  Finally I did update my local instance so I pushed the change myself in PR https://github.com/openoereb/pyramid_oereb/pull/918

[2019-10-16 13:31] voisardf commented on #20
Fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/34

[2019-10-16 13:31] #20 closed, assigned to nobody

[2019-10-16 13:36] voisardf commented on #24
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/31

[2019-10-16 13:36] #24 closed, assigned to voisardf

[2019-10-16 13:37] voisardf commented on #18
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/31

[2019-10-16 13:37] #18 closed, assigned to voisardf

[2019-10-17 12:23] voisardf commented on #19
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/33

[2019-10-17 12:23] #19 closed, assigned to nobody

[2019-10-17 12:24] voisardf commented on #21
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/33

[2019-10-17 12:24] #21 closed, assigned to nobody

[2019-10-17 12:25] voisardf commented on #22
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/33

[2019-10-17 12:25] #22 closed, assigned to nobody

[2019-10-17 12:26] voisardf commented on #23
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/33

[2019-10-17 12:26] #23 closed, assigned to nobody

[2019-10-17 12:26] voisardf commented on #25
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/33

[2019-10-17 12:26] #25 closed, assigned to voisardf

[2019-10-17 12:27] voisardf commented on #26
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/33

[2019-10-17 12:27] #26 closed, assigned to nobody

[2019-10-17 12:28] voisardf commented on #28
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/33

[2019-10-17 12:28] #28 closed, assigned to voisardf

[2019-10-17 12:28] #27 closed, assigned to voisardf

[2019-10-23 15:40] voisardf opened #36 "legal base label not printed when page break occurs"
In some cases, when a page break occurs in the legal bases band, the label is not printed (page 3):

[20191023011222_extract.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/3763225/20191023011222_extract.pdf)

[2019-10-25 09:49] voisardf commented on #29
fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/35

[2019-10-25 09:49] #29 closed, assigned to vvmruder, voisardf, kdeininger

[2019-10-28 15:55] voisardf commented on #17
I just opened the attached pdf with an other reader than AcrobatReader and there was no problem with the URL - This might as well be a bug of the AcrobatReader (in French)? Could anyone check with other language and pdf reader versions?

[20191028044421_extract.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/3779535/20191028044421_extract.pdf)

[2019-11-04 10:47] jwkaltz commented on #36
@voisardf in addition, the line separation for "Informations et renvois supplémentaires" seems to disappear in this case.
I received an information from Geoinfo that in some cases, the content of "Weitere Information and Hinweise" and "Zuständige Stelle" can get mixed: see https://oereb.ai.ch/ktai/wsgi/oereb/extract/reduced/pdf/CH914185597709 on page 9/10.
I wonder if this has the same cause as wh

[2019-11-20 08:07] voisardf commented on #36
@jwkaltz: I could not reproduce this problem here (see attached pdf)? Is the issue still hanging in AI?

[20191120085717_extract.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/3868004/20191120085717_extract.pdf)

[2019-11-20 09:56] MaxHoeferGEOINFO commented on #36
Hi - we changed something in the data, that's why that example does not work anymore. I will look for a new example.

In the meantime I have found this: https://oereb.ai.ch/ktai/wsgi/oereb/extract/reduced/pdf/CH880959417746
Look at page 5 & 6 - does that issue belong in this item too?

Thanks
Max

[2019-11-21 13:14] MaxHoeferGEOINFO commented on #36
Hello everyone

I actually did not find a current example for that issue. All I have is a screenshot of the issue, which we had for one geometry in the past. The example does not work anymore, because the legal documents changed, so the space needed changed too.
Please find the example attached.
I assume this will not help a lot, will it?
![Zust Stelle](https://user-images.githubusercontent.com/54

[2019-12-09 14:37] jwkaltz commented on #38
@peterschaer The hyperlinks work now in all viewers (at least, all that I have tested). Please note that while the hyperlinks work now, JasperReports does not provide a box around the whole link, as some tools such as Word do; therefore the user click will work only when the user clicks on the text within the link.

[2019-12-11 06:18] jwkaltz opened #43 "links in grouped "LegalProvisions" do not work"
When grouping LegalProvisions, the links to the individual LegalProvisions are concatenated and therefore do not work. A single link like
"https://oereb-gr-preview.000.ch/api/attachments/197
https://oereb-gr-preview.000.ch/api/attachments/198"
is provided, which does not work.

To reproduce:
* in the pyramid_oereb configuration, set group_legal_provisions: true
* generate PDF, in the dummy data se

[2019-12-16 12:09] jwkaltz commented on #36
@voisardf Baselstadt (@svareg ) has now also mentioned this kind of problem, and looking at current dummy data report, I can also see it:
![Screenshot from 2019-12-16 13-04-57](https://user-images.githubusercontent.com/9261252/70905666-be20cc80-2004-11ea-9ac3-c3bcf1c7f260.png)
The problem does not always look the same - sometimes a header is missing, sometimes a separation line, sometimes both, li

[2019-12-16 13:22] voisardf commented on #36
@jwkaltz: I will try to fix this issues this week. Otherwise I will let you know.

[2019-12-20 10:46] voisardf commented on #36
@jwkaltz: I'm sorry, I will finally not be able to fix the issues this year. So if you have the ressources at c2c to do so, go ahead.

[2019-12-20 10:51] jwkaltz commented on #43
Fixed in PR #44 (fix needs also corresponding pyramid_oereb PR)

[2019-12-20 10:51] #43 closed, assigned to jwkaltz

[2019-12-23 08:15] #36 closed, assigned to voisardf

[2020-01-20 15:13] danduk82 opened #48 "ThemesWithoutData section has page return when more than one entry"
@lopo977 has found a problem during the tests for [this PR in pyramid_oereb](https://github.com/openoereb/pyramid_oereb/pull/983) (related to [this one](https://github.com/openoereb/pyramid_oereb_mfp/pull/47) in the current repo).

The problem is that when the `ThemesWithoutData` section has more than one item, there is some templating issue and jasper insert a page return as showed  [in the appen

[2020-01-27 07:39] danduk82 opened #50 "doubled `ExclusionOfLiability` section when it reaches exactly the bottom of TOC page"
When reviewing [this PR in pyramid_oereb](https://github.com/openoereb/pyramid_oereb/pull/983) a bug has been found:

When the `EclusionOfLiability` section of the TOC page in the pdf extract reaches exactly the bottom of the page, the whole section is doubled and re-printed on next page.

See : [double_disclaimer.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/4115953/double_disclaimer.

[2020-01-30 10:31] jwkaltz opened #52 ""Vollständige Legende" not displayed"
The link of the "Vollständige Legende" is not displayed in the PDF.
It should contain the value of the attribute "legend" for each entry in "RealEstate_RestrictionOnLandownership".

[2020-01-30 10:35] jwkaltz commented on #50
Fixed in #51

[2020-01-30 10:35] #50 closed, assigned to nobody

[2020-01-30 10:36] jwkaltz commented on #48
Fixed in #49

[2020-01-30 10:36] #48 closed, assigned to marionb

[2020-01-31 07:56] jwkaltz opened #55 "http-firewall error with MapFish Print 3.21 and 3.22"
Reported by @thomasmarti in Aargau:
The print does not work if MapFish Print is upgraded from 3.20 to 3.21 or 3.22, the following error occurs:
(note that this error does not occur in local tests, so we do not know yet in which types of configurations exactly the error occurs)

15:01:40.890 [localhost-startStop-1] ERROR o.a.c.c.C.[Catalina].[localhost].[/] - Exception sending context initialized e

[2020-01-31 08:23] #52 closed, assigned to nobody

[2020-01-31 10:55] jwkaltz commented on #55
Possibly related to Spring framework update in MapFish Print:
-    ext.springVersion = "5.1.7.RELEASE"
+    ext.springVersion = "5.2.1.RELEASE"

[2020-02-05 14:32] peterschaer opened #57 "vertical space above "Rechtsvorschriften" is too big"
Starting with 1.7.0 we have quite a large vertical space above "Rechtsvorschriften" that hasn't been there before. It's not present above "Gesetzliche Grundlagen" and "Weitere Informationen..."

![rv_whitespace](https://user-images.githubusercontent.com/3659322/73850731-88da7300-482c-11ea-89b3-c057b6793f9b.PNG)

[2020-02-05 14:37] jwkaltz commented on #57
This is required by the federal specification, see https://www.cadastre.ch/content/cadastre-internet/de/manual-oereb/service/extract/static/_jcr_content/contentPar/tabs_copy_copy_copy_/items/dokumente/tabPar/downloadlist/downloadItems/426_1475413822017.download/Weisung-statischer-Auszug-de.pdf , page 19.

[2020-02-05 14:44] peterschaer commented on #57
Ok, I didn't know that. This weisung still has some secrets to unveil...

Thanks

[2020-02-05 14:44] #57 closed, assigned to nobody

[2020-02-05 15:02] peterschaer opened #58 "Superfluous comma when SubunitOfLandRegister is displayed and municipality has no SubunitOfLandRegister"
Since #32 it is possible to display the subunit of land register in the pdf extract. There is still a small issue with that. In Berne we have municipalities with subunits and we have municipalities without subunits. In case of a municpality with a subunit everything is fine. In case of a municipality without a subunit there is now a superfluous comma:

![comma](https://user-images.githubuserconten

[2020-02-06 15:56] #58 closed, assigned to nobody

[2020-02-14 08:26] jwkaltz opened #60 "OtherLegend (Übrige Legende) partially disappears if in a page break"
As first mentioned by @lopo977 in https://github.com/openoereb/pyramid_oereb/pull/983#issuecomment-579161738 by @lopo977 and reproduced in the current version at Schwyz (FYI @ralphschulerSZ ), the OtherLegend (Übrige Legende) mostly disappears when there is a page break within the OtherLegend:
![Screenshot from 2020-02-14 09-26-57](https://user-images.githubusercontent.com/9261252/74514108-3d028a8

[2020-02-17 10:11] lopo977 commented on #60
I propose a solution in the PR #61
https://github.com/openoereb/pyramid_oereb_mfp/pull/61

as you can see.

[20200217101031_extract_fix_other_legend.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/4213051/20200217101031_extract_fix_other_legend.pdf)

[2020-02-18 12:42] jwkaltz commented on #60
Fixed via #61

[2020-02-18 12:42] #60 closed, assigned to nobody

[2020-03-18 14:52] CoNussberger commented on #17
The problem is also presnt in the german version of AcorbatReader

![grafik](https://user-images.githubusercontent.com/23398143/76973340-1632dc00-6930-11ea-8368-f19d957df62a.png)

I had the same problem but could solve it by putting the URL in the middle uf a sentence.

[2020-03-18 14:58] CoNussberger opened #64 "Version 1.7.3 blank space above "Rechtsvorschrift" in PDF-Extract"
There is too much blank space above the section "Rechtsvorschrift" in PDF-Extracts generated with mfp Version 1.7.3.

![grafik](https://user-images.githubusercontent.com/23398143/76974000-f51ebb00-6930-11ea-8a42-41db7895b739.png)

[2020-03-18 15:40] jwkaltz commented on #64
@CoNussberger please see #57.

[2020-03-19 13:14] CoNussberger commented on #64
Sorry for rereporting this issue... I totaly agree with @peterschaer

[2020-03-19 13:14] #64 closed, assigned to nobody

[2020-04-10 04:57] jwkaltz commented on #55
Probable cause: https://github.com/mapfish/mapfish-print/issues/1251

[2020-05-08 09:37] danduk82 commented on #55
fixed by https://github.com/mapfish/mapfish-print/pull/1309

[2020-05-08 09:37] #55 closed, assigned to danduk82

[2020-06-12 05:17] jwkaltz opened #68 "mapfish-print 3.23.0 non-docker does not work with oereb"
Due to the snakeyaml library regression, the mapfish-print 3.23.0 non-docker release does not work with oereb. See https://github.com/mapfish/mapfish-print/pull/1327 for the fix that was done and repairs the problem, but apparently only for the docker image. Presumably, the war published for this version needs to be redone.

[2020-06-22 11:35] danduk82 commented on #68
@jwkaltz , here is the new release:
https://github.com/mapfish/mapfish-print/releases/tag/3.23.1

can you please confirm that it works? The deps of snakeyaml are downgraded to 1.25, I think it should be OK.

[2020-06-25 07:28] jwkaltz commented on #68
Steps to reproduce with versions prior to 3.23.1:

* Install tomcat8
* wget
https://github.com/mapfish/mapfish-print/releases/download/3.23.0/print-servlet-3.23.0.war
* jar xf print-servlet-3.23.0.war ; rm print-servlet-3.23.0.war
* copy print-apps directory from pyramid_oereb_mfp project here
* jar --create --file print-oereb.war .
* copy print-oereb war to your tomcat webapps (by default: /var/l

[2020-06-25 07:29] jwkaltz commented on #68
In 3.23.1, the snakeyaml error when reading the oereb configuration file no longer occurs.

[2020-06-25 07:29] #68 closed, assigned to danduk82

[2020-08-31 11:23] danduk82 commented on #68
@jwkaltz is this still an issue? I don't remember if it was fixed

[2020-09-15 15:12] voisardf opened #69 "print-servlet.war 3.23.x"
Hi,

from pyramid_oereb v1.5.0 up, mapfish print 3.23.1 is "required", but there seems no print-servlet.war in this version or higher is available (at least on maven) as almost everything is dockerized. But we have not dockerized our application yet.

Is there still some place I can download the print-servlet.war >=3.23.1 or do we need to compile it by ourself?

thanks

[2020-09-15 15:26] jwkaltz commented on #69
Hi @voisardf , yes, see the links at the bottom of the page https://github.com/mapfish/mapfish-print

[2020-09-15 15:28] voisardf commented on #69
Cheers, I missed that stopping at the Credits tag! - sorry 🙈

[2020-09-15 15:28] #69 closed, assigned to nobody

[2020-09-15 15:31] jwkaltz commented on #69
No worries, in fact, it was changed not so long ago.

[2020-09-24 13:37] voisardf opened #71 "java error with latest version (1.7.6)"
hi,
trying to get the pdf with pyramid_oereb_mfp version 1.7.6 and print-servlet 3.23.0,

I get following error:

[code]

Any idea what the source could be and how to solve it?

I am in a non-docker environnement with Apache Tomcat 9.0.7 and jre1.8.0_181 the json looks fine to me.
[CH799979561228.json.txt](https://github.com/openoereb/pyramid_oereb_mfp/files/5276412/CH799979561228.json.txt)

thank

[2020-10-05 06:28] jwkaltz commented on #71
@voisardf Indeed there was a new "feature" introduced in the newest version of the snakeyaml library, which limits the number to 50. If I remember correctly, a work-around was implemented for mapfish-print 3.24. Please try that version. If that does not work, I will research some more.

[2020-10-05 10:12] voisardf commented on #71
@jwkaltz  thanks. Sorry, I didn't realize the issue has already been brought up (and solved) with issue https://github.com/openoereb/pyramid_oereb_mfp/issues/68

I'm missing the war packages for 3.23.1 and 3.24.0 though on https://github.com/orgs/mapfish/packages
Could you put the link on the github page? Thanks

Because I tried to fork the repo and build the .war locally, but that didn't work out

[2020-10-05 11:58] jwkaltz commented on #71
@danduk82 do you know why the war are missing in https://github.com/orgs/mapfish/packages?

[2020-10-07 11:30] voisardf commented on #71
@danduk82 @jwkaltz will version 3.25.0 work too as there is still no 3.24.0 available?

[2020-10-07 12:41] jwkaltz commented on #71
@voisardf I think the oereb print config.yaml will need to be adapted for this new version, see https://github.com/mapfish/mapfish-print/blob/master/BREAKING-CHANGES.md regarding "allowTransparency"

[2020-10-19 14:47] lopo977 commented on #71
docker camptocamp/mapfish_print:3.24 and 3.25 images with snakeyaml greater than 1.25 still present

[code]

docker camptocamp/mapfish_print:3.23 image is working well.

[2020-10-20 06:51] jwkaltz commented on #71
@lopo977 3.23 was a work-around version precisely because of this YAML problem (the workaround was that an old version of snakeyaml library was forced). Starting 3.24, the new version of snakeyaml is used, which by default has a limit of 50. To change the number of aliases allowed in the YAML, there is now a variable.
I have added an example just now in our standard configuration:
https://github.c

[2020-10-20 06:58] voisardf commented on #71
I'd like to try 3.24 as I get other issues with 3.25. Could you make the 3.24 available on the package site (print-servlet)? Or did I overlook it?

[2020-10-20 07:05] jwkaltz commented on #71
I don't have access to that site, but I am looking for someone who does.
In any case, could you report on what issues you had with 3.25? So far, I am only aware of the pdf/a conformance parameter name which must be changed.

[2020-10-20 08:11] jwkaltz commented on #71
@voisardf I just updated the repository to be able to use MapFish Print 3.25: https://github.com/openoereb/pyramid_oereb_mfp/commit/17a1cf168d727065cc3939eaa8b9da8b70f2fb74
In local testing, it works, but this is just dummy data - can you check if it works for you?

[2020-10-20 09:03] lopo977 commented on #71
Thank you @jwkaltz with the config variable PRINT_YAML_MAX_ALIASES MapFish Print 3.24 and MapFish Print 3.25 work well.
I will test also pdf/a conformance in 3.25 with the offices.

[2020-10-20 09:21] voisardf commented on #71
Tomcat does not even deploy the oereb print throwing following error:
[code]

My dev configuration is:
Apache Tomcat/9.0.7 | 1.8.0_181-b13 | Oracle Corporation | Windows 10 | 10.0 - 1909 | amd64

[2020-10-23 02:40] jwkaltz commented on #71
Closing this issue:
Regarding the Manifest file error reading in non-docker Tomcat, François noticed that there is an empty line in the Manifest file between Git-Revision and Build-By, that Tomcat does not like. Once this line removed, the error disappears.

[2020-10-23 02:40] #71 closed, assigned to nobody

[2021-08-19 05:12] jwkaltz commented on #38
As discussed in https://github.com/openoereb/pyramid_oereb/issues/1278, the original resolution of this bug does not work in all cases.

To reproduce:
* deactive PDF/A conformance in the templates,
* create a PDF extract,
* open it in Acrobat Reader and find a multi-line link,
* click precisely between the lines of the multi-line link: a bad link will be opened (the link contains only the first li

[2021-08-20 16:04] marionb commented on #38
**Note:**

- on a 3 lined link I get the first 2 lines
- There is a change in the cursor icon
- If the link is generated as a simple `TextField` adobe will still interpret a URL as a link. (The native Document Viewer for Ubuntu and the one built in for Firefox do not do this)

**The problem:**

- MFP (JasperReports) is generating the multi-line URL with a very small gap between the lines.
- If the

[2021-09-15 15:51] voisardf opened #83 "Add properties file for rm language"
To support PDF extract in romanche, we will have to add a corresponding Report_rm.properties file with all the basic translations

[2021-09-16 05:17] jwkaltz commented on #83
@voisardf Could this be a contribution by Canton GR? I suppose they will be the only users of that.

[2021-09-16 06:48] voisardf commented on #83
I'll take that 🙂

[2021-09-16 13:32] voisardf commented on #83
closed by https://github.com/openoereb/pyramid_oereb_mfp/pull/84

[2021-09-16 13:32] #83 closed, assigned to voisardf

[2021-12-08 15:48] peterschaer opened #85 "Additional disclaimers not displayed"
In addition to the defined disclaimers in the Weisung in Berne we have additional disclaimers in our extract. At this time we have three additional disclaimers but there may be more to come. Those additional disclaimers are present in the json structure generated by the print proxy:
![disclaimer_BE](https://user-images.githubusercontent.com/3659322/145238229-99d7fdd7-4d84-444c-a76b-8d0bb65104f2.pn

[2021-12-08 15:53] peterschaer opened #86 "law_status label overlaps map image when theme title is multiline"
In case of a multiline theme title the law_status label is pushed down a bit and overlaps slightly with the map image:
![title_overlap](https://user-images.githubusercontent.com/3659322/145239246-e57af2c3-4e48-4149-bbc0-f2583e53c445.png)

This does not like nice and i suppose in case of a threeline theme title the overlap would be even bigger.

[2021-12-08 16:02] voisardf commented on #86
This has to be fixed. According to the layout specialist consulted by swisstopo, the map should be pushed further down.

[2021-12-08 16:10] voisardf commented on #86
the answer was:

[2022-02-21 15:10] michmuel opened #89 "Layout elements not according to specifications"
Attached two pdf extracts with comments that describe where layout elements are not according to the federal specifications.

[CH107812348389_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8110263/CH107812348389_comments.pdf)
[CH871277778361_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8110264/CH871277778361_comments.pdf)
[json.zip](https://github.com/open

[2022-02-22 14:04] voisardf commented on #89
https://www.cadastre.ch/content/cadastre-internet/de/manual-oereb/service/extract/static/_jcr_content/contentPar/tabs_copy_copy_copy_/items/dokumente/tabPar/downloadlist/downloadItems/426_1475413822017.download/Weisung-statischer-Auszug-de.pdf

[2022-02-22 15:23] #86 closed, assigned to marionb

[2022-02-24 06:08] jwkaltz opened #91 "When will pyramid_oereb_mfp support PDF/A-2?"
The open-source rendering libraries used, from JasperReports, currently do not support PDF/A-2, see https://github.com/TIBCOSoftware/jasperreports/issues/200

Supporting PDF/A-2 therefore implies implementing its support in jasperreports, or using a different print software.

[2022-02-24 10:18] #85 closed, assigned to marionb

[2022-03-01 06:14] kdeininger opened #92 "Wrong font size for "Legende beteiligter Objekte""
The text "Legende beteiligter Objekte" seems to be smaller than the other elements.

![image](https://user-images.githubusercontent.com/5467596/156114557-5abf175c-4209-426d-aaf4-669fe30370ff.png)

[2022-03-01 06:21] kdeininger opened #93 "Check font sizes according to specification"
The old specification for the static extract specified a default font size of 8.5 pt. As Jasper Reports does not support decimal values as font size, we decided to use 9 pt instead.

The new specification uses a default font size of 8 pt. I think we should apply this font size in our templates.

[2022-03-07 09:50] #92 closed, assigned to marionb

[2022-03-07 09:50] #93 closed, assigned to marionb

[2022-03-25 10:13] michmuel opened #96 "Label "Fläche" is missing on title page"
The label "Fläche" is missing on the first page of the document. Only the numeric value of the area is printed on the right side of the specific line. Vertical space between "Fläche" and "Stand der amtlichen Vermessung" too large.

[CH107812348389_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8349437/CH107812348389_comments.pdf)

Specs:

https://www.cadastre.ch/content/cadastr

[2022-03-25 10:24] michmuel opened #97 "Categories of public law restriction themes not correct"
The categories of the public law restriction themes are not correct. Compare attached PDF page 3 with specs page 14.

"Eigentumsbeschränkungen, welche das Grundstück 1322 in Laufen betreffen" should be "Öffentlich-rechtliche Eigentumsbeschränkungen, welche das Grundstück 1322 in Laufen betreffen"

PDF:

[CH871277778361_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8349490/CH87

[2022-03-25 10:30] michmuel opened #98 "URL text color not blue"
URL text color should be blue (see PDF page 3). Compare specs appendix 1 page 2.

PDF

[CH871277778361_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8349536/CH871277778361_comments.pdf)

Specs

https://www.cadastre.ch/content/cadastre-internet/de/manual-oereb/service/extract/static/_jcr_content/contentPar/tabs_copy_copy_copy_/items/dokumente/tabPar/downloadlist/downloadItems/4

[2022-03-25 10:37] michmuel opened #99 "Use of dashes in case there is no element for a category is not consistent"
Print of a dash should be consistent if there is no element for a category. See PDF page 6 "Übrige Legende (im sichtbaren Bereich)" and "Weitere Informationen und Hinweise".

I did not found in the specs if a dash is required or not, but it should be consistent. My preference: no dash.

PDF

[CH871277778361_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8349592/CH871277778361_c

[2022-03-25 10:43] michmuel opened #100 "No page break should occur within paragraphs in "Begriffe und Abkürzungen""
No page break should occur within paragraphs in "Begriffe und Abkürzungen". Compare PDF page 10 and specs appendix 1 page 7.

PDF

[CH871277778361_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8349640/CH871277778361_comments.pdf)

Specs

https://www.cadastre.ch/content/cadastre-internet/de/manual-oereb/service/extract/static/_jcr_content/contentPar/tabs_copy_copy_copy_/items/d

[2022-03-25 10:46] michmuel opened #101 "Missing URL "Katasterverantwortliche Stelle""
URL is missing for the "Katasterverantwortliche Stelle". Compare PDF page 1 and specs appendix 1 page 1.

PDF

[CH871277778361_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8349672/CH871277778361_comments.pdf)

Specs

https://www.cadastre.ch/content/cadastre-internet/de/manual-oereb/service/extract/static/_jcr_content/contentPar/tabs_copy_copy_copy_/items/dokumente/tabPar/down

[2022-03-25 10:55] michmuel opened #102 "Position and size of some elements differ from the specs"
Some elements are larger/smaller or at another position than in the specs. See comments in the PDFs.

PDFs

[CH107812348389_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8349748/CH107812348389_comments.pdf)
[CH871277778361_comments.pdf](https://github.com/openoereb/pyramid_oereb_mfp/files/8349735/CH871277778361_comments.pdf)

Specs

https://www.cadastre.ch/content/cadastre-int

[2022-03-25 10:57] michmuel commented on #89
Issue was replaced by:
https://github.com/openoereb/pyramid_oereb_mfp/issues/96
https://github.com/openoereb/pyramid_oereb_mfp/issues/97
https://github.com/openoereb/pyramid_oereb_mfp/issues/98
https://github.com/openoereb/pyramid_oereb_mfp/issues/99
https://github.com/openoereb/pyramid_oereb_mfp/issues/100
https://github.com/openoereb/pyramid_oereb_mfp/issues/101
https://github.com/openoereb/pyra

[2022-03-25 10:57] #89 closed, assigned to nobody

[2022-03-25 12:27] michmuel commented on #97
The text elements in the PDF agree with the information provided in the xml on www.cadastre.ch/oereb > Datenmodelle > Rahmenmodell > Register «Vorschriften» > Datei «Rahmenmodell zusätzliche XML-Datei (Katalog) für Texte des statischen Auszug», but not with the specs.

The xml was published later than the specs. Therefore, I suggest to close this issue.

[2022-03-29 08:53] michmuel commented on #97
The xml files are considered as the relevant source for the texts in the pdfs.

[2022-03-29 08:53] #97 closed, assigned to nobody

[2022-04-07 08:48] marionb commented on #96
@michmuel is it possible that you are not using the most recent version of the print templates?
When I compare the PDF you added them with what we currently have there are a lot of differences (most of them small but notable like spacing and so on). Can you check if this is the case? And if it is the case test with the current version.
On the current version in the development environment I can se

[2022-04-07 09:03] michmuel commented on #96
@marionb
Following files differ between our state and mfp:
- pyramid_oereb_mfp/print-apps/oereb/config.yaml --> differences only in dpi settings
- pyramid_oereb_mfp/print-apps/oereb/Report_it.properties
- pyramid_oereb_mfp/print-apps/oereb/tocConcernedTheme.jrxml
- pyramid_oereb_mfp/print-apps/oereb/topicpage.jrxml
- pyramid_oereb_mfp/print-apps/oereb/topicresponsibleoffice.jrxml

I will update ou

[2022-04-07 09:37] michmuel commented on #96
@marionb
"Fläche" is still not printed. May it be related to the dpi values in the config.yaml?

[2022-04-07 09:46] michmuel commented on #96
@marionb
I also recognize some small shiftings in the position of elements. Therefore, some parts of the other issues might have been fixed. We will check that.

[2022-04-07 10:03] marionb commented on #96
@michmuel
you mean the dpi of the map? (I have little hope that this is it but it is worth testing ;-) )
can you pass me the diff? or test if something changes if you set the diff the same?

[2022-04-07 11:07] michmuel commented on #96
@marionb
Below the diffs. I will run a test with the config.yml from pyramid_oereb_mfp.

[code]

[2022-04-07 11:20] michmuel commented on #96
@marionb
"Fläche" is also missing with the config.yml from pyramid_oereb_mfp.

[2022-04-07 11:42] marionb commented on #96
OK I'll se if I can reproduce this somehow.

[2022-04-08 06:43] jwkaltz commented on #96
@michmuel Just to be sure: what version of pyramid_oereb are you using to test this?

[2022-04-08 06:48] michmuel commented on #96
@jwkaltz Until yesterday the branch concerning the availabilities/performance, now the current master, which is identical I think.

[2022-04-08 16:50] marionb commented on #96
@michmuel
I don't really have a track to follow on this since I can not reproduce this on any other system I have checked so far.

Can you check what you have in the translation file:
https://github.com/openoereb/pyramid_oereb_mfp/blob/master/print-apps/oereb/Report_de.properties#L24

and that this property is really added her:
https://github.com/openoereb/pyramid_oereb_mfp/blob/master/print-apps/

[2022-04-11 13:59] michmuel commented on #96
@marionb

I guess I found the error: The area label is not printed in case `$P{Display_RealEstate_SubunitOfLandRegister} == false`. It is related to https://github.com/openoereb/pyramid_oereb/blob/9134ae187f510bf171f23c0dacaec403fc732eb7/dev/config/pyramid_oereb.yml.mako#L89 and https://github.com/openoereb/pyramid_oereb/blob/9134ae187f510bf171f23c0dacaec403fc732eb7/pyramid_oereb/contrib/print_pro

[2022-04-12 13:09] michmuel commented on #96
@marionb
I made some additional changes in file print-apps/oereb/mainpage.jrxml in our test setting to correct the vertical spacing in case SubunitOfLandRegister is false.

[mainpage.jrxml.zip](https://github.com/openoereb/pyramid_oereb_mfp/files/8473144/mainpage.jrxml.zip)

[2022-04-19 05:11] jwkaltz commented on #96
Thanks for your input @michmuel , could you prepare a PR? I have added you as maintainer of this project. Marion is currently on holidays.

[2022-04-20 07:54] voisardf opened #105 "PDF extract not created using IDENTDN & NUMBER call option"
Hi,

when calling the PDF by this kind of request:
http://localhost:6543/oereb/extract/pdf/?IDENTDN=NE127672&NUMBER=7672

@jwkaltz @marionb @vvmruder :the extract generation fails - this is because the EGRID is not set but a value is expected by pyramid_oereb_mfp for now.

The EGRID line in the extract is mandatory, but not the existence of an EGRID value (otherwise the IDENTDN&NUMBER option has n

[2022-04-20 07:55] voisardf commented on #105
In the specs, this example is explicitely mentionned on page 8, point 3.2.1 last example

[2022-04-20 08:10] voisardf commented on #105
This also means minor adaptions in the print_proxy I think:
https://github.com/openoereb/pyramid_oereb/blob/master/pyramid_oereb/contrib/print_proxy/mapfish_print/mapfish_print.py#L169-L170
I suggest to use the combination of IDENTDN and Number to set the archive path if no egrid is set

[2022-04-27 06:26] #96 closed, assigned to nobody

[2022-04-28 06:50] marionb commented on #102
@michmuel can you specify which of the elements of this issue still need to be looked at after the fix of PR #107?

[2022-04-28 08:06] michmuel commented on #102
@marionb

CH107812348389_comments.pdf
page 1: Background map --> We solved this issue as it is a matter of our configuration.
page 4: Spacing issue remains.

CH871277778361_comments.pdf
page 1: Background map and area label issues solved.
page 1: The other issues remain open. Scale label definition possibly inconsistent in specs.
page 2: Texts are ok (https://github.com/openoereb/pyramid_oereb_mfp

[2022-04-28 10:21] marionb commented on #102
@michmuel
It is quite hard to discuss any of these points as it requires to open about three files and it is all in one issue.
If you can take this apart more and perhaps use screen shots instead of annotated PDF it would help to make the discussion easier and we know we are talking about the same things. I am not sure if some of the annotations move when I opened them on my system.
Are these PDFS

[2022-04-28 10:26] marionb commented on #98
![image](https://user-images.githubusercontent.com/1460598/165732447-097ed73a-65ca-428b-ab2b-e54d148536f6.png)

This concerns the text at the end of the paragraph: `www.cadastre.ch` which should be an url.

How important is this? It will not be easy to sole this because this is a text that is provided and the URL is not automatically seen as a URL but simple text. So this can not be solved withing

[2022-04-28 10:31] marionb commented on #99
So you want the dash or not?

Perhaps we should discuss this in general. I don't mind weather it is a dash or not. Wat speaks for a dash is that it is more comprehensible that it is not just missing something but there is really nothing to show.

[2022-04-28 15:21] voisardf commented on #99
according to specs dash is required when lines are emtpy (other legend, documents, etc.)

[2022-04-28 15:28] voisardf commented on #98
Very, very low priority for this URL color. We might want to try to solve this, when all other issues are solved. I cant explain the problem to Swisstopo if needed.

[2022-04-29 07:04] michmuel commented on #98
I agree with @voisardf. It would certainly improve the appearance of the PDF but it is not worth to invest much time.

[2022-04-29 07:10] michmuel commented on #99
Then we should uniformly use dashes.

[2022-04-29 07:12] michmuel commented on #102
@marionb I agree that this issue is not optimally presented for fixing the respective code.

1.
![Screenshot from 2022-04-29 08-18-34](https://user-images.githubusercontent.com/77100084/165893907-a6fe5636-d30c-40af-98d7-43aa6d78cadf.png)

3.
page 12 of the specs:
"Das angezeigte Massstabsymbol ist zu verwenden mit auf 5er- resp. 10er-Werte gerundeten Ein­heiten. Das Symbol ist mit einem weissen Ha

[2022-04-29 12:23] #99 closed, assigned to marionb

[2022-04-29 12:23] #100 closed, assigned to marionb

[2022-04-29 13:29] #101 closed, assigned to marionb

[2022-04-29 19:57] marionb commented on #102
@michmuel

- The scale issue looks like an issue in MFP. Setting the width is not fully respected. Should I investigate more on this?
- > Positioning issues: The position of the respective elements are different now. But they do not agree with the specs. Why were the positions changed in this way? @voisardf do you know something about it?

    I think this should be about what is in the specs but

[2022-05-02 09:24] marionb commented on #102
@voisardf I'll assign this also to you so so you are also informed.
For the moment I left the problem with the scale I think this will require more time.

[2022-05-02 09:42] michmuel commented on #102
@marionb Seems fine to me. Thanks. I suggest closing this issue and continuing working on scale and the minor deviations from specs only if really required.

[2022-05-02 12:12] marionb commented on #102
OK thanks @michmuel then I'll merge and close this issue. You can open a new one for he scale if it is needed.

[2022-05-02 12:14] #102 closed, assigned to voisardf

[2022-05-16 14:29] michmuel opened #112 "No border around legend symbols"
There should be no black border around the legend symbols.

Current version:
![Screenshot from 2022-05-16 16-26-31](https://user-images.githubusercontent.com/77100084/168616195-1e657756-fe9d-45bd-94d9-a12f3e9728f1.png)

Specifications:
![Screenshot from 2022-05-16 16-27-13](https://user-images.githubusercontent.com/77100084/168616297-397c10b6-dc93-4308-9a82-b4afc5ba7b9b.png)

[2022-05-16 14:39] voisardf commented on #112
yes, it's an easy fix in the templates. For the legend I think it's just about removing those lines:
https://github.com/openoereb/pyramid_oereb_mfp/blob/master/print-apps/oereb/topiclegend.jrxml#L41-L43
and the same in the topiclegend.
Personally, I'd removed the box by opening the template in the GUI of Jasper Reports to be sure not to miss anything.
If I have a few spare minutes tomorrow, I'll f

[2022-05-16 14:41] michmuel commented on #112
Thanks!

[2022-05-17 08:31] voisardf commented on #105
solved

[2022-05-17 08:31] #105 closed, assigned to voisardf

[2022-05-17 09:05] voisardf commented on #112
Solved by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/113

[2022-05-17 09:05] #112 closed, assigned to nobody

[2022-05-17 09:07] voisardf commented on #17
@sitj-marc : Do you still have the issue with the url in the new version or can we close this issue?

[2022-07-05 06:54] MaxHoeferGEOINFO opened #115 ""öffentlich-rechtliche" Eigentumsbeschränkungen in page overview - naming convention"
Hi all

should the "Übersicht ÖREB-Themen" page not have the following naming convention?

![image](https://user-images.githubusercontent.com/54711581/177267734-8e194d4f-1081-4a66-a428-b8aeb7169724.png)

Sorry for all the german, I don't know how those explicit points are named in english.
Cheers
Max

[2022-07-05 07:05] voisardf commented on #115
@MaxHoeferGEOINFO Hi Max, looks like we missed this, sorry.
I'll adapt the property files. It seems to have changend in the german version only

[2022-07-05 07:16] voisardf commented on #115
Will be fixed by PR https://github.com/openoereb/pyramid_oereb_mfp/pull/116

[2022-07-05 07:43] peterschaer commented on #115
The V+D has published an xml file containing all the text of the pdf extract:

* direct link: https://www.cadastre.ch/content/cadastre-internet/de/manual-oereb/modell/frame/_jcr_content/contentPar/tabs_copy_copy_copy_/items/dokumente/tabPar/downloadlist_269503579/downloadItems/90_1646229667044.download/OeREBKRM_Vx_x_AuszugTexte_20220301.zip
* the link is included here: https://www.cadastre.ch/de/m

[2022-07-05 07:46] voisardf commented on #115
@peterschaer thanks for linking the file - I was looking for it, but in the wrong place (models.geo.admin.ch). I'll check with V+D

[2022-08-18 14:16] voisardf commented on #115
@MaxHoeferGEOINFO @peterschaer : V+D will publish the new xml on the Öreb-Blog if it's not done already

[2022-08-18 14:16] #115 closed, assigned to voisardf

[2022-09-12 13:51] MaxHoeferGEOINFO opened #117 ""Allgemeine Informationen" split up over two pages"
Hi all

The Swisstopo complained, that the "allgemeine Informationen" can be split up over two pages, depending on the "Übersicht ÖREB Themen" size.
![image](https://user-images.githubusercontent.com/54711581/189671085-143bd745-0800-4434-a678-d72dc13f27b4.png)
This is not according to their standards Kapitel 3.3.2 der Weisung "ÖREB-Kataster: Inhalt und Darstellung des statischen Auszugs".

I assum

[2022-09-20 05:54] peterschaer commented on #117
We also have a lot of those cases:

![allg](https://user-images.githubusercontent.com/3659322/191177691-1893ece2-9f1d-49d8-9ea2-a154d781c9cc.PNG)

but swisstopo has not yet given us feedback on their acceptance tests. So I expect them to report this as an issue...

[2022-10-05 15:08] voisardf commented on #117
@MaxHoeferGEOINFO @peterschaer should be fixed with latest PR

[2022-10-06 07:17] #117 closed, assigned to voisardf